/* Please give the h1 some padding on two sides and zero on others, margin on the sides with no padding,
 thin purple border on sides without margin, 
 gold background but the gold must be the exact color from the hufflepuff crest */

h1 {
    padding: 1% 0;
    margin: 0 11%;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    background:rgb(255 211 50);
}

/* Please give the h2 significant padding on the left and right, 
a red border on the left and right but the red must be the 
same from the mighty morphin power rangers logo, 
and an orange background, and the roboto font */

h2 {
    padding: 0 20%;
    border-left: 6px solid rgb(232 18 36);
    border-right: 6px solid rgb(232 18 36);
    background-color: orange;
    font-family: "Roboto", sans-serif;
}

/* Please give the section a thick magenta border on the left, 
00px of padding on the top and bottom, 
and 200px of margin on every side without padding or border */

section {
    border-left: 16px solid magenta;
    padding: 100px 0;
    margin: 0 200px 0 0;
}

/* Please make the spans have thin Dodger Blue borders, 
padding on the bottom and right, and light red background */

span {
    border: 1px solid rgb(0, 90, 156);
    padding: 0 10px 10px 0;
    background-color: rgb(248, 142, 142);
}