h1{
  color: red;
  display: inline-block;
  margin: 0 0.5rem;

  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

body .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  text-align: center;
  min-height: 30%;
  max-width: 60%;
  border: 1mm solid black;
  border-radius: 12px;
  background-color: aquamarine;
  padding: 2%;
}